* {
  box-sizing: border-box;
}

:root {
  font: 100%/1.5 "Domine", serif;
  --link-letter-spacing: .1rem;
}

a {
  background: rgba(255, 255, 255, .1);
  border-radius: .25rem;
  color: white;
  padding: .2rem .4rem;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.links a {
  font-variant: small-caps;
  letter-spacing: var(--link-letter-spacing);
}

body {
  align-items: center;
  background: #839D81;
  color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.links a:last-child {
  margin-left: var(--link-letter-spacing);
}

.logo {
  width: 60vw;
}

main {
  text-align: center;
}

main img {
  margin-bottom: 3em;
}

h2 {
  font-variant: small-caps;
}